body {
	background: #D0BCAA;
	padding-top: 2.5em;
}

/* this makes home page display originally */
#home {
	display: block;
}

.page {
	display: none;
	/* Note: try to fix position issue when fading out/in */
	/* addressed so far with delaying fadeIn for 400 ms */
	/* but now herky-jerky container change; see if can fix that */
	/*position: fixed;  why is this necessary?  */
	/*padding-top: 3em;*/
	/*position: absolute;*/
	width: 100%;
	height: 100%;
}

.container {
	margin: 1em auto;
	padding: 1em;
	width: 75%;
	background: #F3DFCE;
	height: auto;
}

div#newStoryButtonContainer {
	width: 100%;
	text-align: center;
}

button#newStory {
	text-align: center;
}

/* form for adding details to a story */

form#addToStory label {
	display: block;
	margin-top: 1em;
}

form#addToStory input {
	width: 60%;
}

form#addToStory textarea {
	width: 100%;
	height: 4em;
}

form#addToStory button {
	display: ;
	/* will be filled via javascript; whether to show or not */
}

.template {
	display: none;
}

/* list of existing story details */

ul {
	padding: 0;
	margin-left: 1em;
	list-style: none;
}

#titleListAll ul {
	margin-left: 0;
}

.storyLine {
	display: inline-block;
	float: left;
	clear: left;
	width: 60%;
	margin-top: 1em;
	word-wrap: break-word;
}

.storyLine img {
	max-width: 100%;
}

.titleAndMetrics {
	display: inline-block;
	float: left;
	clear: left;
	width: 60%;
}

.storyTitle {
	display: block;
	width: 100%;
	cursor: pointer;
}

.storyTitle:hover {
	color: #521820;
}

.storyMetrics {
	display: block;
	font-style: italic;
	font-size: 80%;
	width: 100%;
}

.inProgress  {
	font-weight: bolder;
	color: #6C594C
}

.closed {
	font-weight: bolder;
	color: #521B20;
}

#currentImageMain {
	max-width: 100%;
}

.titleList {
	height: 210px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.credit {
	float: left;
	width: 30%;
	font-size: 90%;
	padding: 0.25em; /* to make sure space between story line and author name */
	margin-top: 1em;
}

.littleImage {
	float: left;
	width: 37%;
	font-size: 90%;
	padding: 0.25em; /* to make sure space between story line and author name */
}

.littleImage img {
	max-width: 100%;
	max-height: 200px;
}

.leftImg {
	max-width: 45%;
}

.rightImg {
	float: right;
	max-width: 45%;
}

/* Clearfix : couldn't get this to work on details; */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*.clearfix {
    zoom: 1;
}
*/

/***********
Typography
***********/

p {
	color: #271917;
	margin: 1em;
}

p.bigTitle {
	text-align: center;
	font-size: 150%;
	margin-left: 1em;
}

/***********
Forms
***********/

form {
	margin: 1em;
}

input, textarea {
	display: block;
	margin: .25em 0;
}

/***********
Loading Notice
***********/
/*
.notice {
	display: none;
	position:fixed;
	top:20%;
	left: 0%;
	right: 0%;
	padding: 2em;
	color: #FFF;
	background: rgba(108, 89, 76, 0.5);
	text-align: center;
}
*/
/*************
Navigation bar
**************/

nav {
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	background: #521B20;
	z-index: 2;
}

nav a {
	float: left;
	width: 33.3%;
	padding: 0.5em 0em;
	background: #521B20;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	border: 4px solid transparent; /* transparent shows b/g through; white border comes from "color" attribute here */
	border-width: 4px 0;

}

nav a:hover {
	background: rgba(243, 223, 206, 0.25);
}

nav a.active {
	border-bottom-color: rgba(243, 223, 206, 0.25);
}