body {
	background: #D0BCAA;
	padding-top: 2.5em;
}

#home {
	display: block;
}

.page {
	display: none;
	/* Note: try to fix position issue when fading out/in */
	/* addressed so far with delaying fadeIn for 400 ms */
	/* but now herky-jerky container change; see if can fix that */
	/*position: fixed;  why is this necessary?  */
	/*padding-top: 3em;*/
	/*position: absolute;*/
	width: 100%;
	height: 100%;
}

.container {
	margin: 1em auto;
	padding: 1em;
	width: 75%;
	background: #F3DFCE;
	height: auto;
}

button#newStory {
	margin-left: 1em;
}

/* form for adding details to a story */

form#addToStory label {
	display: block;
	margin-top: 1em;
}

form#addToStory input {
	width: 60%;
}

form#addToStory textarea {
	width: 100%;
	height: 4em;
}

.template {
	display: none;
}

/* list of existing story details */

ul {
	padding: 0;
	margin-left: 1em;
}
.priorDetail {
	list-style: none;
}

.storyLine {
	display: inline-block;
	float: left;
	clear: left;
	width: 60%;
	margin-top: 1em;
}

.credit {
	float: left;
	width: 30%;
	margin-top: 1em;
}

/* Clearfix : couldn't get this to work on details; */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
*/
/***********
Typography
***********/

p {
	color: #271917;
	margin: 1em;
}

/***********
Forms
***********/

form {
	/*margin-bottom: 1em;*/
	margin: 1em;
}

input, textarea {
	display: block;
	margin: .25em 0;
}

/***********
Loading Notice
***********/

.notice {
	display: none;
	position:fixed;
	top:20%;
	left: 0%;
	right: 0%;
	padding: 2em;
	color: #FFF;
	background: rgba(108, 89, 76, 0.5);
	text-align: center;
}

/*************
Navigation bar
**************/

nav {
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	background: #521B20;
	z-index: 2;
}

nav a {
	float: left;
	width: 33.3%;
	padding: 0.5em 0em;
	background: #521B20;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	border: 4px solid transparent; /* transparent shows b/g through; white border comes from "color" attribute here */
	border-width: 4px 0;

}

nav a:hover {
	background: rgba(243, 223, 206, 0.25);
}