#title {
	text-align: center;
}

#container {
	text-align: center;
	margin-top: 20px;
	width: 100%;
}

.spacer {
	width: 5%;
	/*height: 500px;*/
	display: inline-block;
}

canvas {
	background-color: #333333;
	border: 1px solid black;
}

#canvas1 {
	/*float: left;*/
	display: inline-block;
}


#canvas2 {
	display: inline-block;
	float: clear;	
}

#player1 {
	width: 500px;
	display: inline-block;

}

#player2 {
	width: 500px;
	display: inline-block;
}

.hide {
	display: none;
}